.headerContainer{
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.video-container{
    height: 700px;
    overflow: hidden;
}

.backGroundVideo{
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

@media only screen and (max-width: 600px) {
    .backGroundVideo{
        top: -20%;
        left: -40%;
        right: -20%;
        bottom: -30%;
    }
}

.comment{
    background: url(../../assets/images/finalSeren.GIF) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headerTitle{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    border: solid black;
    padding: 20px;
    border-radius: 10px;
    background: rgba(225, 225, 225, 0.6);
    animation: headerDelay linear 1.5s;
}

@keyframes headerDelay{
    0%{
        opacity: 0;
        top: 30%;
        left: 45%;
    }    
    100%{
        opacity: 1;
        top: 50%;
        left: 50%;
    }
}


@media only screen and (min-width: 600px) {
    .headerTitle{
        font-size: 10px;
    }
}