<div id="about" class="hrefPadding"></div>
<div class="aboutCont">
    <div class="aboutHeader">
        About
        <app-wave-anim></app-wave-anim>
    </div>
    <div class="subAboutDetails">
        I found my passion for programming in college when studying for Bioinformatics,
        and quickly switched my major to Computer Science. Later in my college days,
        I found web development as an excellent outlet to display my skills. Since I graduated from
        the University of California, Santa Cruz I have worked for several consulting firms to get 
        industry experience. I have continued interest in the fields of computer networking, IoT, and Quantum Computing,
        and I thouroughly enjoy creating unique UI and animation using CSS. 
        Contact me if you have any software development needs.
    </div>
</div>
