<div id="contact" class="hrefPadding"></div>
<div class="contactCont">
    <div class="contactHeader">
        Contact
        <app-wave-anim></app-wave-anim>
    </div>
    <div class="subContactHeader">
        Email 
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </div>
    <div class="subContactDetails">
        tmchavez96@gmail.com
    </div>
    <div class="subContactHeader">
        Phone 
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
    </div>
    <div class="subContactDetails">
        951-303-7601
    </div>
</div>
