<div id="skills" class="hrefPadding">
</div>
<div class="skillsCont">
    <div class="skillsHeader">
        Skills
        <app-wave-anim></app-wave-anim>
    </div>
    <div class="skillSubset">
        <div class="subHeader">
            Front-End:
        </div>
        <div class="subDetails">
            HTML5, CSS3, javascript, typescript, bootstrap, angular, Django, Swift5           
        </div>
        <div class="subHeader">
            Back-End / Core Languages:
        </div>
        <div class="subDetails">
            Python, Java, C/C++, Node.js
        </div>
        <div class="subHeader">
            Database:
        </div>
        <div class="subDetails">
            Sql, NoSql, MongoDB, Firebase
        </div>
        <div class="subHeader">
            Other/Misc:
        </div>
        <div class="subDetails">
            Linux, Amazon Web Services, Bash Shell Scripting, JUnit testing, XCUnit testing
        </div>
    </div>
</div>