<div id="portfolio" class="hrefPadding"></div>
<div class="portfolioCont">
    <div class="portfolioHeader">
        <div class="header">
            Portfolio
        </div>
        <div class="subHeader">
            This section is a list of live applications that I have personally developed.
            Feel free to visit the links and see for yourself.
        </div>
        <app-wave-anim></app-wave-anim>
    </div>
    <div class="containter portflioItems">
        <div class="row portfolioRow">
            <div class="col-sm">
              <p class="itemHeader">Sync Solutions</p>
              <a class="linkToSite" href="http://equhelp.com:4321/"> Visit!</a>
              <p class="itemBody"> A MEAN stack web application that designed and developed for the shoe retail resale
                community. I worked with beta testers to create a seemless user experience that allows
                users to add their inventory and report their sales either through forms or csv uploads and exports.
                Initial release coming soon.
              </p>
            </div>
            <div class="col-sm">   
              <img class="gridImg" src="../../assets/images/sync/sync3.png" alt="Sync Solutions">
            </div>
        </div>
        <div class="row portfolioRow">
          <div class="col-sm">
            <p class="itemHeader">EquHelp</p>
            <a class="linkToSite" href="http://equhelp.com:4200/"> Visit!</a>
            <p class="itemBody"> Another MEAN stack web application that I develpoped with the vision of creating
              a virtual environment to walk through equations. The app allows users to add to text to the "pad" and
              where it can then be easily manipulated with the tools available. Authenticated users can save their work and load it later,
              or export it directly to a text file.
            </p>
          </div>
          <div class="col-sm">   
            <img class="gridImg" src="../../assets/images/equHelp/equHelp1.png" alt="EquHelp">
          </div>
        </div>
        <div class="row portfolioRow">
          <div class="col-sm">
            <p class="itemHeader">Epidemic Hub</p>
            <!-- 
            <a class="linkToSite" href="http://equhelp.com:4200/"> Visit!</a>
            -->
            <a class="linkToSite" href="https://github.com/CongLeSolutionX/Epidemic-Hub"> Release pending, see code</a>
            <p class="itemBody"> A native IOS application that is designed to help calm the hysteria and build community during
              COVID pandemic. I built an node express server to interact with app and the google places API, and implement the autocomplete search
              that we see in everyday navigation apps. App store release pending, stay tuned.
            </p>
          </div>
          <div class="col-sm">   
            <img class="gridImg" src="../../assets/images/EpidiemicHub/epidemicHub1.png" alt="Epidemc Hub">
          </div>
        </div>
        <div class="row portfolioRow">
          <div class="col">
            <p class="itemHeader"> GitHub</p>
            <a class="linkToSite" href="https://github.com/tmchavez96"> Visit!</a>
            <p class="itemBody">
              Checkout my github to see all the work ive done that can't be demo'd as a live site.
              My interest and skill in python scripting and automation can be seen there. 
            </p>
          </div>
        </div>
    </div>
</div>

