
<div class="privacy-policy-cont">
    <h1 class="privacy-policy-header">
        Taylor Chavez Dev
    </h1>
    <img class="app-icon" src="../../assets/images/JATBicon.png" alt="app icon">
    <h1 class="privacy-policy-header">
        Jupiter and The Beyond (IOS) Privacy Policy
    </h1>
    <div class="privacy-segment">
        <div class="privacy-segment-header">
            1. What Information is Collected?
        </div>
        <div class="privacy-segment-sub-header">
            1.1. The information you give
        </div>
        We receive and store any information you give to us, such as when you:
        <ul class="privacy-segment-list">
            <li class="privacy-segment-list-element">
                download, update and play the game
            </li>
            <li class="privacy-segment-list-element">
                enter information (username) on our the app
            </li>
        </ul>

        <div class="privacy-segment-sub-header">
            1.2. The Information Collected Automatically
        </div>
        We receive and store any information you give to us, such as when you:
        <ul class="privacy-segment-list">
            <li class="privacy-segment-list-element">
                the advertising ID for your device. You can reset the advertising ID at any time through your device settings.
            </li>
            <li class="privacy-segment-list-element">
                information (anayltics) on app usage
            </li>
        </ul>

        <div class="privacy-segment-sub-header">
            1.3 Information From Third Parties
        </div>
        Information from third parties will also be used in analytics, such as:
        <ul class="privacy-segment-list">
            <li class="privacy-segment-list-element">
                when you purchase our in-app purchases through the app store
            </li>
            <li class="privacy-segment-list-element">
                app retention rates (Google AdMob)
            </li>
        </ul>

        <div class="privacy-segment-header">
            2. How Do We Use Your Information?
        </div>
        How we use your personal data?
        <ul class="privacy-segment-list">
            <li class="privacy-segment-list-element">
                To Impove the app user experience.
            </li>
            <li class="privacy-segment-list-element">
                To display your game scores to other users.
            </li>
        </ul>


        <div class="privacy-segment-sub-header">
            2.1 When Do We Disclose Information
        </div>
        We will only ever disclose any personal information if required to by law or a law enforcement agency.
        <br>

        <div class="privacy-segment-sub-header">
            2.2 Third party services
        </div>
        This application also includes third party services.
        <br>
        We do not control how they interact with you and you should ensure that you consent to the terms of use and privacy policies offered by the third party services before providing them with your information. 
        <br>
        You acknowledge that we are not liable when third party services use information you provide to them.
        <br>
        At this moment these service include:
        <ul class="privacy-segment-list">
            <li class="privacy-segment-list-element">
                Admob (Google). Located in United States. Read their Privacy Policy;
            </li>
        </ul>
        <div class="privacy-segment-sub-header">
            2.5 Storage, Security & Data Retention
        </div>
        Game Informatrion is stored on servers in the US.
        <br>
        Best Security practices are followed to ensure that data is safe from unauthorized access.
        <div class="privacy-segment-header">
            3. Updates to this policy?
        </div>
        All updates to this policy will be posted here on taylorchavezdev.com/JupiterPrivacyPolicy
    </div>

    <div class="mainPageLink"  routerLink="">
        <div class="mainPageLink"  >
        Visit TaylorChavezDev.com
    </div>
</div>